<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>圣魔无界.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>92D7C495D5A3705FC543F6C8DCFD2B211767B116</string>
				<key>dateExpires</key>
				<string>2020/5/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34KF672EP8.com.aiwujie.shengmoApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>34KF672EP8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ShengmoApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>373836ef-a82e-40b9-b4b3-5e200b27a7ac</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.aiwujie.shengmoApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34KF672EP8</string>
				<key>name</key>
				<string>Beijing Aiwujie Culture Media Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
